---
const { title, content } = Astro.props;
---

<div data-faq="faq" class="padding-global py-10 border-b border-neutral-200">
  <div class="max-w-3xl m-auto">
    <h3 class="heading-h3">{title}</h3>
    <p data-faq="content" class="text-xl md:pt-72 pt-32 hidden">
      {content}
    </p>
  </div>
</div>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const faqs = document.querySelectorAll("[data-faq='faq']");

  faqs.forEach((faq, index) => {
    const content = faq.querySelector("[data-faq='content'");

    gsap.from(faq, {
      opacity: 0,
      duration: 0.5,
      delay: index * 0.2,
      scrollTrigger: faq,
    });

    faq.addEventListener("click", () => {
      faq.classList.toggle("bg-orange-500");
      faq.classList.toggle("text-white");
      content.classList.toggle("hidden");
    });
  });
</script>
